/* --------------ROOT------------------- */
:root {
  --bg-white: #fff;
  --main: #0e1b48;
  --hover: #c18db4;
  --link: #e2cad8;
  --color4: #87a7d0;
  --color5: #27425d;
  --color6: #0e1f2f;
  --text-color-white: #fff;
  --text-gray: #bababa;
  --input: #696969;
}
/* --------------ROOT------------------- */

body {
  background-color: var(--color6);
}

/* -------------CONTACT LEFT SIDE-------------- */
.contact-form {
  height: auto;
  padding-top: 1in;
  display: flex;
  margin-bottom: 1in;
  justify-content: center;
}
.contact-form .contact-left {
  width: 50%;
}
/* .contact-form .contact-left form {
} */
.contact-form .contact-left form h2 {
  color: var(--hover);
  font-size: 35px;
}
.contact-form .contact-left form p {
  color: var(--text-color-white);
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 25px;
}
.contact-form .contact-left form span {
  display: flex;
}
.contact-form .contact-left form span input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--input);
  color: var(--text-color-white);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}
.contact-form .contact-left form span input::placeholder {
  color: var(--text-color-white);
  font-size: 18px;
  padding: 10px;
}
.contact-form .contact-left form textarea {
  width: 100%;
  height: 3in;
  border: none;
  border-radius: 10px;
  background-color: var(--input);
  margin: 5px;
  font-size: 18px;
}
.contact-form .contact-left form textarea::placeholder {
  color: var(--text-color-white);
  font-size: 18px;
  padding: 10px;
}
.contact-form .contact-left form input[type="submit"] {
  width: 150px;
  height: 40px;
  border: none;
  background-color: var(--hover);
  border-radius: 10px;
  color: var(--text-color-white);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
/* -----------------CONTACT RIGHT SIDE------------- */
.contact-form .contact-right {
  width: 40%;
}
.contact-form .contact-right .contact-info {
  margin: 0in 1.5in;
}
.contact-form .contact-right .contact-info .contact-head {
  margin-bottom: 50px;
}
.contact-form .contact-right .contact-info .contact-head h2 {
  margin: 20px 0px;
  color: var(--hover);
  font-size: 35px;
}
.contact-form .contact-right .contact-info .contact-head p {
  margin: 20px 0px;
  color: var(--text-color-white);
  font-size: 20px;
}
.contact-form .contact-right .contact-info .contact-last h2 {
  margin: 10px 0px;
  color: var(--hover);
  font-size: 35px;
}
.contact-form .contact-right .contact-info .contact-last .contact-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-form .contact-right .contact-info .contact-last .contact-link a {
  text-decoration: none;
  color: var(--text-color-white);
  font-size: 20px;
  cursor: pointer;
}
/* ---------------------CONTACT---------------------- */

.contact {
  height: 2.5in;
  background-color: var(--text-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .contact-header p {
  padding: 20px 30px;
  color: var(--color6);
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.contact .contact-img {
  display: flex;
  justify-content: space-center;
  align-items: center;
}

.contact .contact-img h2 {
  color: var(--main);
  font-size: 40px;
  font-weight: 600;
}

.contact .contact-img h2 span {
  color: var(--color4);
}

.contact .contact-img img {
  position: absolute;
  right: 2in;
  width: 150px;
}

/* ----------------MAPS------------------- */
.maps {
  height: 5in;
  background-color: var(--color6);
  margin-bottom: 40px;
}

.maps .maps-head {
  text-align: center;
  padding: 20px 0px;
}

.maps .maps-head h2 {
  color: var(--text-color-white);
  font-size: 25px;
  font-weight: 700;
}

.maps .maps-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
