/* --------------ROOT------------------- */
:root {
  --bg-white: #fff;
  --main: #0e1b48;
  --hover: #c18db4;
  --link: #e2cad8;
  --color4: #87a7d0;
  --color5: #27425d;
  --color6: #0e1f2f;
  --text-color-white: #fff;
  --text-gray: #bababa;
  --input: #696969;
}
/* --------------ROOT------------------- */

.gallery {
  height: auto;
  padding-top: 1.5in;
  background-color: var(--color5);
}
.gallery .gallery-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.gallery .gallery-title h2 {
  color: var(--text-color-white);
  font-size: 35px;
}
.gallery .gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gallery .gallery-list .gallery-items {
  margin: 10px;
}
.gallery .gallery-list .gallery-items img {
  width: 450px;
}
